body {
  background: #fff5e0;
}

.navbar {
  display: flex;
  justify-content: right;
  font-size: 12px;
}

.navbarText {
  font-size: 200%;
  padding-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbarText:hover {
  color: #ff6969;
  text-decoration: underline;
  transition: 0.5s;
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: flex-start;
}

.text {
  font-size: 15px;
}
