@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  background-color: #fff5e0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  max-height: 200%;
}

.navbarText {
  font-size: 150%;
  padding-right: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #ff6969;
  transition-delay: 100ms;
  transition-duration: 1s;
  backface-visibility: hidden;

  background: linear-gradient(0deg, #ff6969, #ff6969);
  background-size: 0% 0px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 1000ms ease;
  /* animation: spin 5s infinite linear; */
}

.navbarText:hover {
  transition: 0.5s;
  cursor: pointer;
  color: #ff6969;
  transform: perspective(1px) translateZ(0);
  transform: scale(1.1);
}

#resume:hover {
  background-size: 51.23px 2px;
}

#about:hover {
  background-size: 38.03px 2px;
}

#contactButton:hover {
  background-size: 50.67px 2px;
}

#skills:hover {
  background-size: 35.34px 2px;
}

.name {
  display: flex;
  margin: auto;
}

#container {
  display: flex;
}

#center {
  margin: auto;
}

#p12 {
  font-family: "Oswald", sans-serif;
  color: #ff6969;
  font-size: 55px;
  font-weight: bold;
  display: flex;
  overflow: hidden;
  border-right: 0.15em solid #ff6969;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: typing 2.5s steps(500, end), blink-caret 1s step-end infinite;
}

#p12 {
  display: inline-flex;
}

#container {
  margin-top: 15px;
}

.information {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff6969;
  white-space: normal;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.socials {
  width: 60px;
  height: 60px;
  transition-delay: 150ms;
  transition-duration: 0.5s;
}

.socials:hover {
  transform: scale(1.1);
}

.socialsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 1;
}

.projects {
  color: #ff6969;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projectsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  row-gap: 25px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff6969;
  }
}
